:root{
   
  --main-color: royalblue;
  --secondary-color:orangered;
  --green: #27ae60;
  --black: #333;
  --white: #fff;
  --light-bg-color: #f2f3f5;
  --border-color: #e5e8ec;
 
  --color-dark: #1D2231;
  --text-grey: #8390A2;
  --coolor: #6ea1e9;
  /* color: rgb(9, 240, 163) */
}
#search-patient-inco .search-wraper{
  display: flex;
  align-items: center;
  border: 1px solid crimson;
  height: 40px;
  width: 40%;
  margin-top: 1rem;

}
#search-patient-inco .search-wraper i{
  font-size: 30px;
  color: crimson;
 
}
#search-patient-inco .search-wraper input{
  height: 100%;
  width: 100%;
  font-size: 1.2rem;
}
#search-patient-inco{
  margin-top: 10px;
}
.completed-lab-patient-list,
.incoming-lab-patient-list{
  background-color: var(--white);
  margin-top: 10px;
padding: .5rem;
}
.completed-lab-patient-list h1,
.incoming-lab-patient-list h1{
  padding: .5rem;
}
.completed-lab-patient-list .completed-lab-card-container,
.incoming-lab-patient-list .incoming-lab-card-container{
  padding: .5rem;
  max-height: 600px;
  /* background: #27ae60; */
  margin-bottom: 10px;
  overflow-y: auto;
  
}
#lab-single{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  background: var(--light-bg-color);
  padding: .5rem;
  margin-top: .25rem;
}
#lab-single .left-lab{
  display: flex;
  flex-direction: column;
  width: 100%;

}
#lab-single .left-lab label{
display: flex;
}
#lab-single .left-lab label span{
 color: var(--green);
  }
#lab-time{
  color: crimson;
}
#lab-single .left-lab .specification-cont label{
  display: flex;
  flex-direction: column;
}
#lab-single .left-lab .specification-cont label p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  white-space: wrap;

}




.right-lab{
  display: flex;
  flex-direction: row;
  width: 100%;

}
.right-lab button{
  padding: .2rem .5rem;
  cursor: pointer;
  margin: 0 auto;
  margin-top: .5rem;
  /* width: 80%; */
  /* border-radius: 10px; */
  color: var(--white)
}
.right-lab button:hover{
  opacity: .7;
}
.right-lab .btn11,
.right-lab .btn1{
  background: var(--green);

}
.right-lab .btn2{
  background: var(--main-color);
  
}

.right-lab .btn3{
  background: crimson;
  
}
#zero-list-style label h2{
  color: crimson;
  text-align: center;
  padding: .5rem;
  }



@media(max-width: 920px){
  #search-patient-inco .search-wraper{
    
      width: 90%;
  
  
  }
}